/* Шрифты index: Raleway - 400, Roboto - 900, 700, 500, 400 */
/* Шрифты portfolio: Raleway - 400, Roboto - 700, 500, 400 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

/* цвет клиентских лого-иконок #AFB1B8 */

ul {
  list-style: none;
}

/* Header */
header {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

/* Logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  box-sizing: content-box;
  width: 153px;
  height: 31px;
  margin-top: 24px;
  margin-left: 215px;
  position: absolute;
}

.div-nav {
  position: absolute;
  width: 294px;
  height: 48px;
  margin-top: 32px;
  margin-left: 453px;
  outline: 1px solid red;
  box-sizing: content-box;
  padding-left: 0px;
}

/* ссылки */
.nav-list.link {
  padding: 0px;
  margin: 0px;
}

.nav-list.link div {
  display: inline;
  box-sizing: content-box;
  padding-left: ;
  outline: 1px solid red;
}

.studio {
  width: 49px;
  margin: ;
}

.portfolio {
  width: 77px;
  margin-left: ;
}
.contacts {
  width: 68px;
  margin-left: ;
}

/* цвет адресов в хедере */
.nav-adr a,
.section-text {
  color: var(--primary-text-color);
  font-style: normal;
}

.logo a {
  display: inline;
}

/* Hero */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  /* ЗАМЕНИТЬ НА ФОН */
  background-color: #212121;
}

.div-hero {
  box-sizing: content-box;
  width: 646px;
  height: 200px;
  margin: 200px 477px;
}

.button-prim.service {
  box-sizing: content-box;
  display: inline-block;
  padding: 10px 32px;
  margin-top: 46px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 137px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* преимущества, команда, фильтр */
.section-img,
.team,
button {
  background-color: var(--secondary-bg-color);
  font-family: inherit;
}

.subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* всё, что с цветом акцента */
.nav.current,
.logo span,
.link a:hover,
.link a:focus,
.adr-link:focus,
.section-item:hover,
.section-item:focus,
.soc-link:hover,
.soc-link:focus,
.clients a:hover,
.clients a:focus,
button:hover,
button:focus,
.folow:not(:hover) {
  color: var(--accent-color);
}

/* основной фон */
body,
.team-card {
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Белые заголовки */
footer .logo,
.hero,
.white-title,
.address {
  color: var(--primary-white-color);
}

/* Чем мы занимаемся? */
.work .white-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Черные заголовки */
.nav-list a,
.section-title,
.subtitle,
.name,
.filter-list {
  color: var(--title-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Team */
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section-text.name {
  font-weight: 400;
  color: var(--primary-text-color);
}

/* адрес в футере */
.address,
.copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.adr-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: #2f303a;
  letter-spacing: 0.03em;
}

.footer .white-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* права */
.copy {
  color: rgba(255, 255, 255, 0.4);
}

/* button */
.button-prim,
.button-sec .folow {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
}

/* все ссылки */
a {
  text-decoration: none;
}

/* -------- PORTFOLIO ----------- */

/* Filter */
.filter-item button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

/* filter-list */
.section-title-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.section-text-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
