/* Шрифты index: Raleway - 400, Roboto - 900, 700, 500, 400 */
/* Шрифты portfolio: Raleway - 400, Roboto - 700, 500, 400 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --icons-grey-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*----------------------- все ссылки */
a {
  text-decoration: none;
}

body {
  margin: 0px;
  width: 1600px;
}

ul {
  list-style: none;
}

/* Header */
.header {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
}

/* Logo */
.logo,
.footer-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  margin: 24px 85px 25px 215px;
}

/*----------------------- ссылки навигации*/
.nav-ul {
  display: flex;
  padding-left: 0px;
  margin-top: 32px;
  margin-right: 305px;
}
.nav-li:not(:last-child) {
  margin-right: 50px;
}

address {
  display: flex;
  align-items: center;
}
.mail,
.fone {
  color: var(--primary-text-color);
  text-decoration: normal;
  margin-left: 10px;
  font-style: normal;
}
.mail {
  margin-right: 30px;
}

/*------------------------------- Hero */
.hero {
  text-align: center;
  letter-spacing: 0.06em;
  /* ЗАМЕНИТЬ НА ФОН */
  background-color: #212121;
}

.div-hero {
  display: inline-block;
  width: 646px;
  margin: 200px 477px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  margin: 0px;
}

.button-prim.service {
  display: inline-block;
  padding: 10px 32px;
  margin: 46px 223px 0;
  border-radius: 4px;
  min-width: 201px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*----------------- преимущества, команда, фильтр */
.section-item {
  font-size: 0px;
  margin-right: 30px;
}
.section-img,
.team,
button {
  background-color: var(--secondary-bg-color);
  font-family: inherit;
}
.section-img {
  padding: 25px 102.34px;
  border-radius: 4px;
  margin: 0px;
  width: 270px;
}
.section-img:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* .section-icon {
  margin: 0px;
  padding: 0px;
} */

.subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);

  margin: 0px;
}

.section-list {
  margin: 94px 215px;
}
.section-list-ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

/*------------------- всё, что с цветом акцента */
.current,
span,
.nav a:hover,
.nav a:focus,
.adr-link:focus,
.section-img:focus,
.soc-link:hover,
.soc-link:focus,
.clients a:hover,
.clients a:focus,
.mail:hover,
.mail:focus,
.fone:hover,
.fone:focus,
button:focus,
.follow:not(:hover),
.fil-but > li:focus {
  color: var(--accent-color);
}

/*------------------- основной фон */
body,
.team-li,
.team.name {
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/*------------------ Белые заголовки */
.footer-logo,
.hero,
.white-title,
.address {
  color: var(--primary-white-color);
}

/*------------------------ Чем мы занимаемся? */
.section-work {
  justify-content: center;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 94px;
  display: flex;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
}

.work-li:not(:last-child) {
  margin-right: 30px;
}

.work-li img {
  border-radius: 4px;
}

.white-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*----------------- Черные заголовки */
.nav a,
.section-title,
.subtitle,
.name,
button {
  color: var(--title-text-color);
}

/*------------------------------------ Team */
.team {
  padding-bottom: 94px;
}
.team-ul {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 94px;
  padding-left: 0px;
}
.team-li:not(:last-child) {
  margin-right: 30px;
}

.team.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.section-text.name {
  font-weight: 400;
  color: var(--primary-text-color);
  margin-bottom: 16px;
  text-align: center;
}
.team-card-div {
  width: 270px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.social-links {
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
}

.soc-link:not(:last-child) {
  margin-right: 10px;
}

/* -------------------------- Клиенты */
.client-img {
  border: 1px solid var(--icons-grey-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
}
.clients-list {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
  padding-left: 0px;
}

.clients-list > li:not(:last-child) {
  margin-right: 30px;
}

.one {
  padding: 20px 62.73px 20.77px 63px;
}
.two {
  padding: 19px 65px;
}
.three {
  padding: 24px 64px 23.4px 65px;
}
.four {
  padding: 24px 45.34px 23.98px 45px;
}
.five {
  padding: 22px 55px 21px 56px;
}
.six {
  padding: 22px 40.52px 22.56px 41px;
}
/* -------------------- Футер */
.futer {
  background-color: #2f303a;
  letter-spacing: 0.03em;

  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.footer-logo {
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  display: block;
  padding-bottom: 0px;
}

/*-------------------- адрес в футере */
.div-adr {
  margin: 48px 0px 28px 214px;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-right: 69px;
  width: 231px;
}

.address,
.copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: inline-block;
}
.address {
  margin-bottom: 28px;
}

.adr-link {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  margin-bottom: 9px;
}

.white-title.soc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  padding: 0px;
  margin-bottom: 21;
}

.div-soc-link {
  margin: 56px 94px 56px 0px;
  padding: 0px;
}
.social-links.soc {
  margin-top: 21px;
  width: 206px;
}

/* --------------------------- Рассылка */
.fly {
  width: 570px;
  margin: 56px 216px 50px 0px;
  width: 570px;
  padding: 0px;
}

.fly p {
  margin-top: 0px;
  margin-bottom: 21px;
  text-align: left;
}

/*------------------------------ Copyrights */
.copy {
  color: rgba(255, 255, 255, 0.4);
  margin: 18px auto 21px;
  width: 310px;
  text-align: center;
}

/* ------------------------------ buttons */
.button-prim,
.button-sec .follow {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
}

/* -------- PORTFOLIO ----------- */

/* Filter */
.filter {
  padding: 93px 215px 94px;
}

.fil-but {
  text-align: center;
}
.fil-but li {
  margin-bottom: 30px;
  font-size: 0px;
  text-align: left;
}

.fil-but-li:hover {
  /* Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов. */
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 6px 22px;
  border: 1px solid transparent;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* filter-buttons */
.section-title-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 20px 24px 4px;
}

.section-text-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  margin: 0px 24px 20px;
}

.filter-ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.filter-ul li:not(.only) {
  margin-right: 30px;
}
.div-li {
  border: 1px solid #eeeeee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
